<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p> {{dish.description}} </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail',prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail',next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <h3> Comments </h3>
    <mat-list>
      <mat-list-item *ngFor="let comment of dish.comments">
        <h1 matLine> {{comment.comment}} </h1>
        <p matLine>
          <span> {{comment.rating}} Stars </span>
        </p>
        <p matLine>
          <span> --{{comment.author}}</span>
          <span> {{comment.date | date}}</span>
        </p>    
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex [hidden] = "dish"> 
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait!</h4>
  </div>
</div>

<div>
  <span class="flex-spacer"> </span>
<div fxFlex fxFlexOffset="20px" class="form-size">
 
  <div matLine  *ngIf="ratingForm.valid"> 
    <p>{{ratingForm.value.comment}} </p>  
    <p>  <span> {{ratingForm.value.rating}} Stars </span></p>
     <p> <span> -- {{ratingForm.value.author}}</span></p>
  </div>
  <form novalidate [formGroup]="ratingForm" #fform="ngForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <input matInput formControlName="author" placeholder="Name" type="text" required>
        <mat-error *ngIf="ratingForm.get('author')?.hasError('required') && 
        ratingForm.get('author')?.touched"  >Author Name is required</mat-error>          
      </mat-form-field>
      </p>

      <mat-slider formControlName="rating" aria-label="unit(s)" min="1" max="5" step="1" value="5" thumbLabel tickInterval="1"></mat-slider>

    <p>
      <mat-form-field class="full-width">
        <textarea matInput formControlName="comment" placeholder="Your Comment" rows="12">
        </textarea>
        <mat-error *ngIf="ratingForm.get('comment')?.hasError('required') && 
        ratingForm.get('comment')?.touched">Comment is required</mat-error>  
     
        
      </mat-form-field>
    </p>
    <button type="submit" mat-button class="background-primary text-floral-white"
    [disabled]="ratingForm.invalid">Submit</button>
  </form>
</div>
</div>